.Action {
    width: 135px;
    height: 45px;
    background-color: #5AE4A7;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #000; 


}

.Cancel {
    width: 135px;
    height: 45px;
    background-color: #3C9F76;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #000; 


}

.None {
    background: none;
    border: none; 
    color: #000; 
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; 
    transition: text-decoration 0.3s ease;
}

.None:hover {
    text-decoration: underline;
}