
.field-image {
    margin: 24px 0;
}

.field-image label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.field-image input {
    border: none; 
    outline: none; 
    border-bottom: 2px solid #8b8b8b;
    padding: 8px 0;
    font-size: 16px; 
    transition: all 0.3s ease;
    width: 100%;
}

.field-image input:hover{
    border-bottom: 2px solid #3dcf86;
}

.field-image input[type='file'] {
    border-radius: 8px;
    border:2px solid #8b8b8b ;
}

.field-image input[type='file']:hover {
    border: 2px solid #3dcf86;
}