
.field-image {
    margin: 24px 0;
}

.field-image label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.field-image input {
    border: none; /* Remove a borda padrão */
    outline: none; /* Remove a borda de foco padrão */
    border-bottom: 2px solid #8b8b8b; /* Linha de fundo inicial */
    padding: 8px 0; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    transition: all 0.3s ease; /* Transição suave para efeitos */
    width: 100%;
}

.field-image input:hover{
    border-bottom: 2px solid #3dcf86; /* Linha de fundo ao focar */
}

.field-image input[type='file'] {
    border-radius: 8px;
    border:2px solid #8b8b8b ;
}

.field-image input[type='file']:hover {
    border: 2px solid #3dcf86;
}