.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%; 
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 500px; 
    border-radius: 10px;
    background-color: transparent;
    padding: 30px;
}


.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}